*{
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("https://images.pexels.com/photos/1303098/pexels-photo-1303098.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") no-repeat;
}

body {
  display: table;
  margin: 0 auto;
}

.content {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.letter {
  display: table-cell;
  vertical-align: middle;
  background: url("../img/note.png") no-repeat;
}

.letter_text {
  display: table-cell;
  margin: 20%;
  padding: 20%;
}

.letter_text p {
  font-size: 20px;
}
